body {background-color: lightpink;}

img {
  width: 60%;
  height: auto;
  float:inherit;
}

h1{
   font-family: 'Lobster', cursive;
    font-size: 60px;

}

h2{
    font-family: 'Poiret One', cursive;

}

h3{

    font-family: 'Playball', cursive;

}